/server/myapp/migrations
/server/myapp/views/__pycache__/
/server/.idea
/vue/.idea
/vue/dist
/vue/node_modules
/server/.idea/
/.idea/
__pycache__
.idea
server/.idea
.DS_Store
server/.DS_Store
vue/.DS_Store